<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Invoice</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                border: 2px solid black;
                height: 98vh;
            }
            .invoice-box {
                max-width: 800px;
                margin: auto;
                padding: 30px;
                border: 1px solid #eee;
            }
            table {
                width: 100%;
                line-height: inherit;
                text-align: left;
            }
            table td {
                padding: 5px;
                vertical-align: top;
            }
            .heading {
                background: #eee;
                border-bottom: 1px solid #ddd;
                font-weight: bold;
            }
            .details {
                padding-bottom: 20px;
            }
            .item {
                border-bottom: 1px solid #eee;
            }
            .total {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <div class="invoice-box">
            <table>
                <tr class="top">
                    <td colspan="4">
                        <table>
                            <tr>
                                <td class="title">
                                    <h2>Invoice</h2>
                                </td>
                                <td>
                                    Invoice #: <%= invoice.number %><br />
                                    Created: <%= invoice.date %><br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class="heading">
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Price</td>
                </tr>
                <% invoice.products.forEach(product => { %>
                <tr class="item">
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><%= product.quantity %></td>
                    <td><%= product.price * product.quantity %></td>
                </tr>
                <% }); %>
            </table>
        </div>
    </body>
</html>
